
#Bot-Name
CHATBOT_NAME=

#DAILY
DAILY_API_KEY=
DAILY_ROOM_URL=
DAILY_ROOM_TOKEN=

#ELEVENLABS
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=

#OPENAI
OPENAI_API_KEY=

#CARTEISA
CARTESIA_API_KEY=
CARTESIA_VOICE_ID=